.principal {
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 2px rgb(44, 43, 43);
	margin: 10px auto;

    &__notas {
        width: 70%;
        height: auto;
        overflow: hidden;
        margin: 10px auto;
    }
    
        &__posteos {
            width: 100%; 
            height: auto;
            overflow: hidden;
            padding: 7px 7px;
        }

}

.parrafo {
	color: white;
	font-size: 12px;
}

.titulo-news {
	color: red;
	font-style: bold;
	font-family: 'Roboto';
	font-weight: 900;
}