@import "_partners.scss";
@import "_esportsNews.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_our-team.scss";

// Variables

$fondo: #000000;
$texto: #FAFAFA;

body {
    background-color: $fondo;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 20px;
    font-weight: 600;
}

h2 {
	text-align: center;
	color: $texto;
}

.whats-fix{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
	z-index: 100;
}

.whats-icon{
	margin-top:16px;
}

.button-addToCart {
	background-color: rgb(175, 56, 56);
	color: $texto;
    padding: 15px;
	margin: 20px auto;
	font-size: 24px;
	border-radius: 15px;
	transition-duration: 0.4s;
	
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 

    &:hover {
        background-color: $fondo;
        color: rgb(175, 56, 56);
        box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24);
    }
}

h4 {
    color: $texto;
    background-color: $fondo;
    text-align: center;
}

/* Media Queries */

@media (max-width: 1024px) {
	
	.columns-container {
		grid-template-columns: auto;
	}
}

@media only screen and  (max-width: 767px) {
	.social-bar {
		display: none; 
	}	
}

@media (max-width: 767px) {
	.row-container {
	grid-template-columns:	auto;
	}
}