@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ssacle');
  src:  url('fonts/icomoon.eot?ssacle#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ssacle') format('truetype'),
    url('fonts/icomoon.woff?ssacle') format('woff'),
    url('fonts/icomoon.svg?ssacle#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitch:before {
  content: "\ea9f";
}
